.vscode/
.DS_Store
*.swp
*.swo
*~

__pycache__/
.pytest_cache/
*.py[cod]
.coverage
coverage/

obj_dir/
sim_build*/
results*.xml

**/work/
**/transcript*
**/*.mti
**/*.dat
**/*.dbs
**/*.psm
**/*.vstf
**/*.ucdb
**/cov*/
**/sc_dpiheader.h
**/vsim.dbg

**/quartus/db/
**/quartus/incremental_db/
**/quartus/*.qws
**/quartus/c5_pin_model_dump.txt
**/quartus/*.done
**/quartus/*.smsg
**/quartus/*.summary
**/quartus/*.qarlog
**/quartus/output_files/*.sof
**/quartus/output_files/*.pof
**/quartus/output_files/*.rbf
**/quartus/output_files/*.jdi
**/quartus/output_files/*.pin

**/*.qws

**/test_pkg.qpf
**/test_pkg.qws